/* Select the body tag */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
}

/* Select all h1, h2, ..., h6 tags */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

/* Select the element with id="page" */
#page {
  width: 600px;
  margin: 0 auto;
}

#h2 {
  color: orange;
}

/* Select all <pre> tags */
pre {
  /* Remove leading whitespace from inside <pre> tags */
  white-space: pre-line;
}

pre code {
  white-space: pre-line;
}
